* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.footer {
  width: 375px;
  height: 122px;
  background-color: #2d2d2d;
  position: relative;
}

address {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 5rem;
  left: 1rem;
  color: #ffffff;
}

.footer__social {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}

.footer__social a {
  text-decoration: none;
}
