* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.dhero {
  background-color: #f8f9ff;
  width: 1280px;
  height: 690px;
  padding: 120px, 55px, 120px, 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  position: relative;
}

.dhero h2 {
  font-size: 67px;
  font-weight: 700;
  position: absolute;
  left: 2rem;
  top: 2rem;
  margin-left: 2rem;
  margin-right: 550px;
  margin-block: 130px;
  text-align: left;
  font-family: Poppins;
}

.dhero p {
  position: absolute;
  left: 2rem;
  top: 13rem;
  font-family: Mulish;
  text-align: left;
  margin-right: 550px;
  margin-left: 2rem;
  margin-block: 180px;
  font-weight: 400;
  font-size: 21px;
}

.dhero__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  width: 315px;
  height: 329px;
}

.dhero__label {
  padding: 16px 50px 16px 50px;
  border: 2px solid #009379;
  background-color: #009379;
  border-radius: 17px 17px 17px 17px;
  text-decoration: none;
  font-weight: 600;
  font-family: Poppins;
  position: absolute;
  top: 31rem;
  left: 4rem;
  color: white;
  font-size: 16px;
  width: 221px;
  height: 60px;
  text-align: center;
}

.dhero__how {
  padding: 16px 50px 16px 50px;
  border: 2px solid #009379;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  text-decoration: none;
  font-weight: 600;
  font-family: Poppins;
  position: absolute;
  top: 31rem;
  left: 20rem;
  color: #009379;
  font-size: 16px;
  width: 221px;
  height: 60px;
  text-align: center;
}

.dhero__visuals {
  position: absolute;
  top: 10rem;
  right: 3rem;
}

.dhero__icon {
  background-color: #009379;
  position: absolute;
  left: 6.2rem;
  bottom: 9.7rem;
}
